*{
    margin:0;
}
   
.header{
    width: 100%;
    height: 20vh;
    background-color: green;
    }

   .main{
        width: 100%;
        height: 80vh;
        background-color: purple;
        display: flex;
        flex-direction: row;
    }    
    .ladoA{
        width: 65%;
        height: 80vh;
        background-color: gray;
        
    }
    .ladoB{
        width: 35%;
        height: 80%vh;
        background-color: aquamarine;
        background-image: url("atendente.png");
        background-size: cover;
        
    }
